{{- if .Values.cleanupJob.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "mageai.fullname" . }}-cleanup-job
spec:
  schedule: "0 * * * *"  # Runs every hour
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: mage-cleanup
              {{- if .Values.image.digest }}
              image: "{{ .Values.image.repository }}@{{ .Values.image.digest }}"
              {{- else }}
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              {{- end }}
              command:
                - /bin/sh
                - -c
                - |
                  repo_name="${USER_CODE_PATH:-default_repo}" &&
                  mage clean-cached-variables "$repo_name" &&
                  mage clean-old-logs "$repo_name"
              env:
              {{- if .Values.env }}
                {{- toYaml .Values.env | nindent 16 }}
              {{- else if .Values.extraEnvs }}
                {{- toYaml .Values.extraEnvs | nindent 16 }}
              {{- end }}
              volumeMounts:
              {{- if .Values.volumes }}
                - name: mage-fs
                  mountPath: /home/src
              {{- else if .Values.extraVolumeMounts }}
                {{- toYaml .Values.extraVolumeMounts | nindent 16 }}
              {{- end }}
          restartPolicy: OnFailure
          volumes:
          {{- if .Values.volumes }}
            {{- toYaml .Values.volumes | nindent 12 }}
          {{- else if .Values.extraVolumes -}}
            {{ toYaml .Values.extraVolumes | nindent 12 }}
          {{- end }}
{{- end }}
